<div>
    <form method="POST" action="/">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" placeholder="user" autocomplete="username" required="true"><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" placeholder="******" autocomplete="current-password" required="true"><br>
        <label for="email">Email</label><br>
        <input type="email" id="email" name="email" placeholder="email@email.com" autocomplete="email"><br><br>
        <input type="submit" value="Register">
    </form>
    <a id="reglink" href="/register">register</a>
    här e register sidan
</div>