<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Welcome Express</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <div id="menuContainer">
    <a href="/">Home</a>
    <a href="/register">Register</a>
    <a href="/login">Login</a>
    <a href="/snippets">Snippets</a>
  </div>

  <div id="mainContainer">
    {{>flash}}
    {{{body}}}
  </div>

</body>

</html>