<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Welcome Express</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  {{>login '../signin/signedin.hbs'}}
  {{{body}}}
</body>
</html>
