* {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

#wrapper {
    width: 100%;
    height: 100vh;
}

#menuContainer {
    margin-left: auto;
    width: 40%;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
}


#mainContainer {
    grid-area: main;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.auth {
    font-size: 30px;
}

ul {
    list-style: none;
}

p {
    width: 100%;
    white-space: pre-line
}

.code {
    background: #f4f4f4;
    border: 1px solid #ddd;
    color: grey;
    margin-bottom: 1.6em;
    overflow: auto;
    padding: 1px 10px;
}

#flash-container {
    color:red;
}