body {
    border: 2px solid purple;
    border-radius: 25px;
    display: grid;
    width: 80%;
    height: 80vh;
    margin: auto;
    margin-top: 5%;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 10% 70% 10%;
    grid-template-areas: 
    '.  .   .'
    '.  menu    .'
    '.  main    .'
    '.  .   .';
}

#menuContainer {
    grid-area: menu;
    display: flex;
    flex-direction: row;
}

#menuContainer > a {
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
}

#mainContainer {
    grid-area: main;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.auth {
    font-size: 30px;
}
