<textarea form="snippetForm" name="snippet" id="snippet">{{viewData.snippet}}</textarea>
<form method="POST" action="/snippets/{{viewData.id}}/update" id="{{viewData.id}}">
<input type="hidden" name="id" value="{{viewData.id}}" />
    <input type="submit" value="Update snippet">
</form>