<div class="newSnippet">
    <form method="POST" action="/snippets/create">
        <textarea id="w3mission" rows="4" cols="50">
        </textarea><br>
        <input type="submit" value="add snippet">
    </form>
</div>