<div id="menuContainer">
    <a href="/">Home</a>
    {{#if user.email}}
        <a href="/logout">Logout</a>
    {{else}}
        <a href="/register">Register</a>
        <a href="/login">Login</a>
    {{/if}}
    <a href="/snippets">Snippets</a>
</div>