<textarea form="snippetForm" name="snippet">{{viewData.snippet}}</textarea>
<form method="POST" action="/snippets/{{viewData.id}}/update" id="snippetForm">
<input type="hidden" name="id" value="{{viewData.id}}" />
    <input type="submit" value="Update snippet">
</form>